/* body */
body{
  background: #f0f5ff;
  margin: 0px;
}
#container{
  margin: 0 auto;
  width: 700px;
}

/* header */
header{
  background: #fff;
  border: solid 5px #eee;
  padding: 3px;
}

/* main section */
section.main{
  background: #fff;
  border: solid 3px #eee;
  padding: 3px;
}

/* footer */
footer{
  background: #fff;
  border: solid 5px #eee;
  padding: 3px;
}
